#lienzo{
  margin: -520px 10px;
  position: absolute;
  z-index: 100;
  display: block;
  
}

#contenedor{
  margin: 5vh auto;
  width: 1000px;
  height: 500px;
}

#fondo{
  background: url(./menu.jpg);

}

.theBatman{
  display: block;
  left: 550px;
  top: 550px;
  position: absolute;
  
}

